.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.taiwan-map {
  width: 380px;
  height: auto;
}
.city {
  fill: #c0e4ff;
  stroke: #333;
  stroke-width: 1;
  cursor: pointer;
  transition: fill 0.3s;
}